{% extends 'base.html' %}
{% block title %}{{draw.block_number}}{% endblock%}

{% block content %}
<div align="center">
<h2>Draw № {{draw.id}}</h2>
    {% if draw.status == 0  %}
<h3>Next draw is on block № {{draw.block_number}}</h3>
    {% else %}
<h3>Wining number is {{draw.winner_number}}</h3>
    <p>Всего в игре: {{stata.pn}}</p>
    <p>Всего выиграло: {{}}</p>
{% endif %}

    {% if bets %}
<table border="1" align="center">
    <tr>
        <td>#</td>
        <td align="center">BTC address</td>
        <td>Selected number</td>
    </tr>
    {% for bet in bets %}
    <tr>
        {% if bet.number == draw.winner_number %}
            <td>{{bet.pn}}</td>
            <td align="center"><strong>{{bet.btc_address}}</strong></td>
            <td align="center" ><strong>{{bet.number}}</strong></td>
        {% else %}
            <td>{{bet.pn}}</td>
            <td align="center">{{bet.btc_address}}</td>
            <td align="center" >{{bet.number}}</td>
        {% endif %}
    </tr>
        {% endfor%}
</table>
    {% else %}
<h3>No bets on this draw registered</h3>
    {% endif%}
</div>
{% endblock %}